body {
    --accent-color: #23486A;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
}

body.dark {
    --accent-color: #EFB036;
    --background-color: #09122C;
    --text-color: white;


}




.title {
    margin: 0;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
}

.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .3em;
    border: none;
    padding: .5em 1em;
    transition: var(--transition-delay);
    transform: scale(1);
}

.icon {
    margin-right: .5em;
}

.theme-toggle-button:hover {
    transform: scale(1.1);
}

.sun-moon-container {
    --rotation: 0;

    position: absolute;
    pointer-events: none;
    top: 0;
    height: 200vmin;
    transform: rotate(var(--rotation));
}

.sun,
.moon {
    position: absolute;
}

.sun {
    top: 5%;
}

.moon {
    top: 5%;
    opacity: 0;
}

.moon .dark{
    opacity: 1;
}