/* Importing fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #52ab98;
}

.config-container {
    width: 415px;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container .config-title {
    font: 1.3rem;
}

.config-container .config-options {
    margin-top: 25px;
}

.config-options .category-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.config-options .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-options button.active {
    color: #2b6777;
    border-color: #2b6777;
    background: #2b6777;
}

.config-options button {
    padding: 12px;
    font-size: 0.938 rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #2b6777;
    transition: 0.3s ease;
}

.question-options button:hover {
    background: #2b6777;
    text-decoration-color: #fff;
}

.category-options button:hover {
    background: #2b6777;
}

.question-options button {
    flex: 1 1 10%;
}

.config-container .start-quz-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    background: #2b6777;
    padding: 13px 25px;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.config-container .start-quz-btn:hover {
    background: #c8d8e4;
    text-decoration-color:;
}