/* Importing fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #52ab98;
}

.config-container {
    width: 415px;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container .config-title {
    font: 1.3rem;
}

.config-container .config-options {
    margin-top: 25px;
}

.config-options .-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.config-options .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-options button {
    padding: 12px;
    font-size: 0.938 rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #;
}